.DS_Store

__pycache__
.vscode
wandb
learningVenv
models/*
processedData/*
out/*
midi/inferred/*
midi/monotonic/*
midi/source/*
preprocessedDatasets/*
processedDatasets/*
evalResults/*
tests/PreProcessed_On_13_02_2024_at_11_08_hrs/
tests/processed_out